
/* ============================================================
   ANIMATION TEXTE
   ============================================================ */
.animation-container .text {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.animation-container h3 {
    margin-bottom: 3rem;
    display: inline-block;
}

.animation-container .text.second-text {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 0 5px;
}

.text.second-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    border-left: 2px solid var(--main-color);
    animation: animate 7s steps(12) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
