
/* ============================================================
   FOOTER
   ============================================================ */
.footer {
    position: relative;
    padding: 4rem 8%;
    background-color: var(--bg-color);
}

.footer .social {
    text-align: center;
    /* padding-bottom: 2rem; */
}

.footer .social a {
    font-size: 2.5rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 1rem;
    transition: all 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    list-style: none;
}

.footer ul li {
    display: inline-block;
    padding: 0 2rem;
}

.footer ul li a {
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.footer .copyright {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
}