/* ============================================================
    HEADER MODE SOMBRE
   ============================================================ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    /* left: 0; */
    width: 100%;
    padding: 1rem 5%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 15px var(--main-color);
    /* color: var(--main-color); */
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.navbar a:hover,
.navbar a:focus {
    color: var(--main-color);
}

#menu,
#close {
    font-size: 3rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
}
