/* ============================================================
    HEADER MODE SOMBRE
   ============================================================ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 1rem 5%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 15px var(--main-color);
    /* color: var(--main-color); */
}

.navbar a {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.navbar a:hover,
.navbar a:focus {
    color: var(--main-color);
}

#menu,
#close {
    font-size: 3rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
}

/* ============================================================
   RESPONSIVE DESIGN
   ============================================================ */

/* Tablettes et petits desktops */
@media (max-width: 1024px) {
    .navbar a {
        margin-left: 3rem;
    }

    /* .home{
        padding: 10rem;
    } */
}

/* Tablettes */
@media (max-width: 895px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #menu {
        display: block;
        margin-left: auto;
    }
    
    .theme-switch {
        margin-left: 1.5rem;
        margin-right: 0;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        min-width: 250px;
        padding: 2rem 3%;
        background-color: rgba(163, 150, 170, 0.98);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    
    .navbar.active {
        display: block;
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        color: var(--text-color);
    }
}