header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7d3af;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 20px;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li{
    display: inline;
    padding: 10px;
}

body{
    margin: 20px;
    background-color: rgb(238, 223, 202);
}

section img{
    justify-content: center;
    width:300px;
    height: 500px;
    border-radius: 20px;
    border: 3px solid rgb(238, 223, 202);
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #e7d3af;
    color: white;
    font-family: Arial, sans-serif;
}
footer{
    background-color: #e7d3af;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif; 
    border-radius: 20px;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;

}
